@page "/Almacen/Despachos"
@inherits MainBaseComponent
@layout MainLayout
@using Infraestructura.Models.Clasificador
@using Infraestructura.Models.Almacen
@using Infraestructura.Models.Transporte
@using Infraestructura.Models.Empresas
@using Infraestructura.Models.Vistas
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Buttons
@inject IJSRuntime JSRuntime

<MudTabs Elevation="4" Rounded="true" Color="@Color.Dark" PrevIcon="@Icons.Material.Filled.SkipPrevious" NextIcon="@Icons.Material.Filled.SkipNext">
    <MudTabPanel Text="GESTION DE DESPACHOS ">
        <div>
            <MudCard>
                <EditForm OnInvalidSubmit="OnValidAsyncDespacho" Model="_almsalidadespachopos">
                    <DataAnnotationsValidator />
                    <MudCardContent>
                        <MudGrid>
                            <MudItem xs="12" sm="6" md="6">
                                <MudDatePicker @bind-Value="_almsalidadespachopos.Fecha" For="@(() => _almsalidadespachopos.Fecha)" Label="FECHA" Variant="Variant.Outlined" Margin="Margin.Dense" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.LensBlur" AdornmentColor="Color.Primary" @bind-Date="date"></MudDatePicker>
                            </MudItem>
                            <MudItem xs="12" sm="6" md="4">
                                <MudTextField @bind-Value="_almsalidadespachopos.NumeroListaempaque" For="@(() => _almsalidadespachopos.NumeroListaempaque)" Label="Lista de Empaque" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
                            </MudItem>



                            <MudItem xs="12" sm="6" md="4">
                                <CustomAutoComplete TItem="EmpresaDto"
                                                    jsonData="@JsonEmpresaList"
                                                    NameValue="IdinsEmpresa"
                                                    NameDescripcion="RazonSocial"
                                                    @bind-DataValue="_almsalidadespachopos.IdinsEmpresa"
                                                    pPlaceHolder="Seleccione una empresa" />
                            </MudItem>

                            <MudItem xs="12" sm="6" md="4">


                                <CustomAutoComplete TItem="TransporteDto"
                                                    jsonData="@jsonTransporteList"
                                                    NameValue="IdinsTransporte"
                                                    NameDescripcion="NombreTransportista"
                                                    @bind-DataValue="_almsalidadespachopos.IdinsTransporte"
                                                    pPlaceHolder="Transporte" />

                            </MudItem>

                            <MudItem xs="12" sm="6" md="4">
                                <MudTextField @bind-Value="_almsalidadespachopos.Observacion" For="@(() => _almsalidadespachopos.Observacion)" Label="Observacion" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
                            </MudItem>

                        </MudGrid>
                    </MudCardContent>
                    <MudCardActions>

                        <MudButton OnClick="@(() => SaveDespacho())" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Unarchive" Color="Color.Success">Guardar</MudButton>
                    </MudCardActions>
                </EditForm>
            </MudCard>
            <MudCard>
                <MudTable Items="@AlmSalidadespacho" Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="@striped">
                    <ToolBarContent>

                        <MudSpacer />
                        <MudTextField @bind-Value="searchString" Placeholder="Buscar" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                    </ToolBarContent>
                    <HeaderContent>
                        <MudTh><MudTableSortLabel SortBy="new Func<VsolicitudescomercialDto, object>(x=>x.IdalmSalidadespacho)">Nr</MudTableSortLabel></MudTh>

                        <MudTh><MudTableSortLabel SortBy="new Func<VsolicitudescomercialDto, object>(x=>x.Observacion)">OBSERVACIONES</MudTableSortLabel></MudTh>
                        <MudTh><MudTableSortLabel SortBy="new Func<VsolicitudescomercialDto, object>(x=>x.FechaDespacho)">FECHA DESPACHO</MudTableSortLabel></MudTh>
                        <MudTh><MudTableSortLabel SortBy="new Func<VsolicitudescomercialDto, object>(x=>x.NombreTransportista)">NOMBRE TRANSPORTISTA</MudTableSortLabel></MudTh>
                        <MudTh><MudTableSortLabel SortBy="new Func<VsolicitudescomercialDto, object>(x=>x.NumPlaca)">NUM PLACA</MudTableSortLabel></MudTh>
                        <MudTh><MudTableSortLabel SortBy="new Func<VsolicitudescomercialDto, object>(x=>x.Marca)">MARCA</MudTableSortLabel></MudTh>
                        <MudTh><MudTableSortLabel SortBy="new Func<VsolicitudescomercialDto, object>(x=>x.Color)">COLOR</MudTableSortLabel></MudTh>
                        <MudTh><MudTableSortLabel SortBy="new Func<VsolicitudescomercialDto, object>(x=>x.NumLicencia)">NUM LICENCIA</MudTableSortLabel></MudTh>
                       
                        <MudTh><MudTableSortLabel SortBy="new Func<VsolicitudescomercialDto, object>(x=>x.Largo)">LARGO</MudTableSortLabel></MudTh>
                        <MudTh><MudTableSortLabel SortBy="new Func<VsolicitudescomercialDto, object>(x=>x.Ancho)">ANCHO</MudTableSortLabel></MudTh>


                        <MudTh class="sticky-right-column">OPCIONES</MudTh>
                    </HeaderContent>

                    <RowTemplate>
                        <MudTd>
                            <MudText Typo="Typo.caption">@context.IdalmSalidadespacho</MudText><br />
                            </MudTd>
                            <MudTd>
                                <MudText Typo="Typo.caption">@context.NumeroListaempaque</MudText><br />
                            </MudTd>
                            <MudTd>
                                <MudText Typo="Typo.caption">@context.NombreTransportista</MudText><br />
                            </MudTd>
                            <MudTd>
                                <MudText Typo="Typo.caption">@context.NumLicencia</MudText><br />
                            </MudTd>
                            <MudTd>
                                <MudText Typo="Typo.caption">@context.NumPlaca</MudText><br />
                            </MudTd>
                            <MudTd>
                                <MudText Typo="Typo.caption">@context.Marca</MudText><br />
                            </MudTd>
                            <MudTd>
                                <MudText Typo="Typo.caption">@context.Color</MudText><br />
                            </MudTd>

                            <MudTd class="sticky-right-column">

                                <div class="d-flex">
                                    <div class="ml-auto">

                                        @* <MudFab Color="Color.Tertiary" Icon="@Icons.Material.Filled.Delete" aria-label="Eliminar Articulo" OnClick="@((e) => OpenDialog())" Variant="Variant.Filled" />-->
                                    <MudTooltip Text="Editar" Color="Color.Secondary" Placement="Placement.Top">
                                    <MudIconButton  Color="Color.Warning" Variant="Variant.Filled"   Icon="@Icons.Material.Filled.Edit" Size="Size.Small"  OnClick="@(() => ShowBtnEdit4(context.Idsolicitud))"/><MudText Typo="Typo.caption"></MudText>
                                    </MudTooltip>
                                    <MudTooltip Text="Eliminar" Color="Color.Default" Placement="Placement.Top">
                                    <MudIconButton  Color="Color.Error" Variant="Variant.Filled"   Icon="@Icons.Material.Filled.Delete" Size="Size.Small"  OnClick="@(() => ShowBtnElimina(context.Idsolicitud))" /><MudText Typo="Typo.caption"></MudText>
                                    </MudTooltip> *@

                                        <MudTooltip Text="Adicionar Datos" Color="Color.Secondary" Placement="Placement.Top">
                                            <MudIconButton Color="Color.Secondary" Variant="Variant.Filled" Icon="@Icons.Material.Filled.ListAlt" Size="Size.Small" OnClick="@(() => ShowBtnadd(context.IdalmSalidadespacho))" /><MudText Typo="Typo.caption"></MudText>
                                        </MudTooltip>

                                    </div>
                                </div>
                            </MudTd>
                        </RowTemplate>
                        <PagerContent>
                            <MudTablePager />
                        </PagerContent>

                    </MudTable>
                </MudCard>
            </div>






            <SfDialog Target="#target" ZIndex="999" Width="60%" Height="90%" AllowDragging="true" IsModal="true" CloseOnEscape="false" @bind-Visible="@popupAdmViewPallets">
                <DialogTemplates>
                    <Header><strong>@_TituloPopup2 </strong> <strong>@_TituloPopup</strong></Header>
                <Content>
                    <MudCardContent>
                        <MudDivider></MudDivider>
                        <br />

                        <div>

                            <br />




                            <MudTable Items="@VPalletalmacen" MultiSelection="true" @bind-SelectedItems="selectedItems1" Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="@striped">
                                <ToolBarContent>

                                    <MudSpacer />
                                    <MudTextField @bind-Value="searchString" Placeholder="Buscar" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium"
                                                  Class="mt-0"></MudTextField>
                                </ToolBarContent>
                                <HeaderContent>

                                    <MudTh><MudTableSortLabel SortBy="new Func<VpalletalmacenDto, object>(x=>x.NumPallet)">NUMERO PALLET</MudTableSortLabel></MudTh>
                                    <MudTh><MudTableSortLabel SortBy="new Func<VpalletalmacenDto, object>(x=>x.CantidadBotellas)">CANT. DE BOTELLAS (SALDO)</MudTableSortLabel></MudTh>
                                    <MudTh><MudTableSortLabel SortBy="new Func<VpalletalmacenDto, object>(x=>x.CantidadBotellasSalida)">CANT. DE BOTELLAS SALIDA</MudTableSortLabel></MudTh>
                                    <MudTh><MudTableSortLabel SortBy="new Func<VpalletalmacenDto, object>(x=>x.Fecha)">FECHA DE PRODUCCION</MudTableSortLabel></MudTh>
                                    <MudTh><MudTableSortLabel SortBy="new Func<VpalletalmacenDto, object>(x=>x.Lineadescripcion)">LINEA</MudTableSortLabel></MudTh>
                                    <MudTh><MudTableSortLabel SortBy="new Func<VpalletalmacenDto, object>(x=>x.Moldedescripcion)">PRODUCTO</MudTableSortLabel></MudTh>

                                    <MudTh><MudTableSortLabel SortBy="new Func<VpalletalmacenDto, object>(x=>x.Colordescripcion)">COLOR</MudTableSortLabel></MudTh>
                                    <MudTh><MudTableSortLabel SortBy="new Func<VpalletalmacenDto, object>(x=>x.OrdenProduccion)">ORDEN DE PRODUCCION</MudTableSortLabel></MudTh>
                                    <MudTh><MudTableSortLabel SortBy="new Func<VpalletalmacenDto, object>(x=>x.Tipodescripcion)">ESTADO</MudTableSortLabel></MudTh>

                                </HeaderContent>

                                <RowTemplate>

                                    <MudTd>
                                        <MudText style="visibility: hidden;" Typo="Typo.caption">@context.IdAlmContenidoPallets</MudText>
                                            <MudText Typo="Typo.caption">@context.NumPallet</MudText><br />
                                        </MudTd>
                                        <MudTd>
                                            <MudText Typo="Typo.caption">@context.CantidadBotellas</MudText><br />
                                        </MudTd>
                                        <MudTd>
                                            <MudNumericField @bind-Value="@context.CantidadBotellasSalida" Variant="Variant.Outlined" Margin="Margin.Dense"></MudNumericField><br />
                                        </MudTd>

                                        <MudTd>
                                            <MudText Typo="Typo.caption" Format="yyyy-MM-dd" Label="Date" InputType="InputType.Date">@context.Fecha</MudText><br />
                                        </MudTd>
                                        <MudTd>
                                            <MudText Typo="Typo.caption">@context.Lineadescripcion</MudText><br />
                                        </MudTd>
                                        <MudTd>
                                            <MudText Typo="Typo.caption">@context.Moldedescripcion</MudText><br />
                                        </MudTd>

                                        <MudTd>
                                            <MudText Typo="Typo.caption">@context.Colordescripcion</MudText><br />
                                        </MudTd>
                                        <MudTd>
                                            <MudText Typo="Typo.caption">@context.OrdenProduccion</MudText><br />
                                        </MudTd>
                                        <MudTd>
                                            <MudText Typo="Typo.caption">@context.Tipodescripcion</MudText><br />
                                        </MudTd>
                                    </RowTemplate>
                                    <PagerContent>
                                        <MudTablePager PageSizeOptions="new int[]{50, 100}" />
                                    </PagerContent>
                                    <FooterContent>
                                        <MudTd colspan="3">Seleccionar Todo</MudTd>
                                    </FooterContent>
                                </MudTable>

                                <MudDivider></MudDivider>
                                <br />

                                <h5>DETALLE DE DESPACHO</h5>

                                <MudDivider></MudDivider>
                                <br />

                                <MudTable Items="@Despachodetalledes" Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="@striped">
                                    <ToolBarContent>

                                        <MudSpacer />
                                        <MudTextField @bind-Value="searchString" Placeholder="Buscar" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium"
                                                      Class="mt-0"></MudTextField>
                                    </ToolBarContent>
                                    <HeaderContent>
                                        <MudTh><MudTableSortLabel SortBy="new Func<VpalletalmacendDto, object>(x=>x.NumPallet)">NUMERO PALLET</MudTableSortLabel></MudTh>
                                        <MudTh><MudTableSortLabel SortBy="new Func<VpalletalmacendDto, object>(x=>x.CantidadBotellas)">CANT. DE BOTELLAS  </MudTableSortLabel></MudTh>
                                        <MudTh><MudTableSortLabel SortBy="new Func<VpalletalmacendDto, object>(x=>x.Fecha)">FECHA DE PRODUCCION</MudTableSortLabel></MudTh>
                                        <MudTh><MudTableSortLabel SortBy="new Func<VpalletalmacendDto, object>(x=>x.Lineadescripcion)">LINEA</MudTableSortLabel></MudTh>
                                        <MudTh><MudTableSortLabel SortBy="new Func<VpalletalmacendDto, object>(x=>x.Moldedescripcion)">PRODUCTO</MudTableSortLabel></MudTh>
                                        <MudTh><MudTableSortLabel SortBy="new Func<VpalletalmacendDto, object>(x=>x.Colordescripcion)">COLOR</MudTableSortLabel></MudTh>
                                        <MudTh><MudTableSortLabel SortBy="new Func<VpalletalmacendDto, object>(x=>x.OrdenProduccion)">ORDEN DE PRODUCCION</MudTableSortLabel></MudTh>
                                        <MudTh><MudTableSortLabel SortBy="new Func<VpalletalmacendDto, object>(x=>x.Tipodescripcion)">ESTADO</MudTableSortLabel></MudTh>


                                    </HeaderContent>

                                    <RowTemplate>
                                        <MudTd Style="width:40px">
                                            <MudText style="visibility: hidden;" Typo="Typo.caption">@context.IdalmSalidadespachodetalle</MudText>
                                            <MudText Typo="Typo.caption">@context.NumPallet</MudText><br />
                                        </MudTd>
                                        <MudTd>
                                            <MudText Typo="Typo.caption">@context.CantidadBotellas</MudText><br />
                                        </MudTd>
                                        <MudTd>
                                            <MudText Typo="Typo.caption">@context.Fecha</MudText><br />
                                        </MudTd>
                                        <MudTd>
                                            <MudText Typo="Typo.caption">@context.Lineadescripcion</MudText><br />
                                        </MudTd>
                                        <MudTd>
                                            <MudText Typo="Typo.caption">@context.Moldedescripcion</MudText><br />
                                        </MudTd>
                                        <MudTd>
                                            <MudText Typo="Typo.caption">@context.Colordescripcion</MudText><br />
                                        </MudTd>
                                        <MudTd>
                                            <MudText Typo="Typo.caption">@context.OrdenProduccion</MudText><br />
                                        </MudTd>
                                        <MudTd>
                                            <MudText Typo="Typo.caption">@context.Tipodescripcion</MudText><br />
                                        </MudTd>
                                    </RowTemplate>
                                    <PagerContent>
                                        <MudTablePager PageSizeOptions="new int[]{50, 100}" />
                                    </PagerContent>
                                    <FooterContent>
                                        <MudTd colspan="3">Selecionar Todo</MudTd>
                                    </FooterContent>
                                </MudTable>



                            </div>
                        </MudCardContent>
                    </Content>
                </DialogTemplates>
                <DialogButtons>
                    <DialogButton Content="AGREGAR" OnClick="@btnSelecGuardarDetalle" />
                    <DialogButton Content="ELIMINAR" OnClick="@btnSelecEliminarDetalle" />
                    <DialogButton Content="CERRAR" OnClick="@btnCancelPop" />
                </DialogButtons>









            </SfDialog>

            <div>
                <SfDialog Target="#target" ZIndex="999" Width="65%" Height="100%" AllowDragging="true" IsModal="true" style="min-height: 90%" CloseOnEscape="false" @bind-Visible="@popupAdmViewPalletsdet">
                    <DialogTemplates>
                        <Header><strong>@_TituloPopup2 </strong> <strong>@_TituloPopup</strong></Header>
                    <Content>
                        <MudCardContent>

                            <div>
                                <h5>DETALLE DE DESPACHO</h5>

                                <MudDivider></MudDivider>
                                <br />

                                <MudTable Items="@Despachodetalledes" Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="@striped">
                                    <ToolBarContent>

                                        <MudSpacer />
                                        <MudTextField @bind-Value="searchString" Placeholder="Buscar" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                                    </ToolBarContent>
                                    <HeaderContent>
                                        <MudTh><MudTableSortLabel SortBy="new Func<VpalletalmacendDto, object>(x=>x.NumPallet)">Numero Pallet</MudTableSortLabel></MudTh>
                                        <MudTh><MudTableSortLabel SortBy="new Func<VpalletalmacendDto, object>(x=>x.Fecha)">Fecha Produccion</MudTableSortLabel></MudTh>
                                        <MudTh><MudTableSortLabel SortBy="new Func<VpalletalmacendDto, object>(x=>x.Lineadescripcion)">Linea</MudTableSortLabel></MudTh>
                                        <MudTh><MudTableSortLabel SortBy="new Func<VpalletalmacendDto, object>(x=>x.Moldedescripcion)">Producto</MudTableSortLabel></MudTh>
                                        <MudTh><MudTableSortLabel SortBy="new Func<VpalletalmacendDto, object>(x=>x.Colordescripcion)">Color</MudTableSortLabel></MudTh>
                                        <MudTh><MudTableSortLabel SortBy="new Func<VpalletalmacendDto, object>(x=>x.Tipodescripcion)">Estado</MudTableSortLabel></MudTh>


                                    </HeaderContent>

                                    <RowTemplate>
                                        <MudTd Style="width:40px">
                                            <MudText style="visibility: hidden;" Typo="Typo.caption">@context.IdalmSalidadespachodetalle</MudText>
                                                <MudText Typo="Typo.caption">@context.NumPallet</MudText><br />
                                            </MudTd>
                                            <MudTd>
                                                <MudText Typo="Typo.caption">@context.Fecha</MudText><br />
                                            </MudTd>
                                            <MudTd>
                                                <MudText Typo="Typo.caption">@context.Lineadescripcion</MudText><br />
                                            </MudTd>
                                            <MudTd>
                                                <MudText Typo="Typo.caption">@context.Moldedescripcion</MudText><br />
                                            </MudTd>
                                            <MudTd>
                                                <MudText Typo="Typo.caption">@context.Colordescripcion</MudText><br />
                                            </MudTd>
                                            <MudTd>
                                                <MudText Typo="Typo.caption">@context.Tipodescripcion</MudText><br />
                                            </MudTd>
                                        </RowTemplate>
                                        @*  <PagerContent>
                                    <MudTablePager PageSizeOptions="new int[]{50, 100}" />
                                    </PagerContent>
                                    <FooterContent>
                                    <MudTd colspan="3">Selecionar Todo</MudTd>
                                    </FooterContent>*@
                                    </MudTable>



                                </div>
                            </MudCardContent>
                        </Content>
                    </DialogTemplates>
                    <DialogButtons>
                        @* <DialogButton Content="AGREGAR A DESAPACHO" OnClick="@btnSelecGuardarDetalle"/>
                    <DialogButton Content="ELIMINAR DE DESPACHO" OnClick="@btnSelecEliminarDetalle" />*@
                        <DialogButton Content="CERRAR VENTANA" OnClick="@btnCancelPop" />
                    </DialogButtons>









                </SfDialog>
            </div>

        </MudTabPanel>
    </MudTabs>
